In [17]:
import pandas as pd

In [20]:
df = pd.read_csv('sample_sales_report.csv')

In [21]:
df_filter = df[(df['QTR_ID'] != 0) & (df['MONTH_ID'] != 0) & (df['YEAR_ID'] != 0)]

KeyError: 'QTR_ID'

In [12]:
df_filter

,Date,Product_ID,Product_Name,Category,Sales_Region,Units_Sold,Unit_Price,Total_Revenue,Discount_Applied,Profit
19,2024-01-20,1130,Product_B,Clothing,South America,36,238.14,8573.04,0.08,7887.20
22,2024-01-23,1769,Product_D,Clothing,Europe,33,299.51,9883.83,0.24,7511.71
47,2024-02-17,1189,Product_C,Clothing,South America,33,419.63,13847.79,0.19,11216.71
58,2024-02-28,1484,Product_A,Clothing,North America,44,371.57,16349.08,0.16,13733.23
62,2024-03-03,1840,Product_A,Clothing,Asia,46,131.39,6043.94,0.04,5802.18
81,2024-03-22,1775,Product_A,Clothing,North America,42,193.56,8129.52,0.11,7235.27
93,2024-04-03,1105,Product_B,Clothing,South America,42,200.20,8408.40,0.04,8072.06